body {
    text-align: center;
    


}

.points-counter {
    text-align: right;
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
}

#trivia {
    text-align: center;
    padding: 20px;
    grid-area: auto;
    grid-template-columns: repeat(2, auto);

}

#question {
    margin-bottom: 20px;
}

.answer {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
}


.button-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    gap: 10px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    vertical-align: baseline;
}
