.start-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#startButton {
    background-color: #ff4500;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3 ease;
}

#startButton:hover {
    background-color: #e63900;
}

body {
    text-align: center;
    
}

#questionImage {
    max-width: 100%;
    max-height: 300px;
    width: auto;
    height: auto;
    object-fit: contain;
}

.timer-display {
    font-size: 20px;
    text-align: center;
    color: #333;
    border: solid 1px #ddd;
    padding: 10px;
    margin-top: 10px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
}

#trivia {
    display: none;
}

.game-started #startScreen {
    display: none;
}

.game-started #trivia {
    display: block;
}

.points-counter {
    text-align: right;
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
}



#question {
    margin-bottom: 20px;
}

.answer {
    display: block;
    margin: 5px auto;
    padding: 10px 20px;
    width: 200px;
    text-align: center;
}


.button-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    gap: 5px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    vertical-align: baseline;
}
