
@media (max-width :600px) {
    .start-screen h1 {
        font-size: 4em;
        color: #fff ;
    
        margin-bottom: 30px;
    }

    #startButton{
        font-size: 1em;
        padding: 1em 2em;
        background-color: #e63900;
    }

    .button-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

.start-screen  {
    h1 {
        box-sizing: border-box;
        font-size: 95px;
        position: relative;
        top: -175px;
        line-height: 1;
        color: goldenrod;
        -webkit-text-stroke: 1px black;
        margin-bottom: 0;
        padding: 0;
        margin:0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 0;
    }
    p {
       
        margin-top: 0;
        line-height: 1.2;
        font-size: 80px;
        color: goldenrod;
        -webkit-text-stroke: 1px black;
        
    }
    background: url(https://cdn.pixabay.com/photo/2017/09/04/09/37/cinema-strip-2713352_1280.jpg) no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#startButton {
    background-color: #ff4500;
    color: white;
    border: white;
    
    padding: 10px 20px;
    font-size: 2em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5;
}

#startButton:hover {
    background-color: #e63900;
}

body {
    text-align: center;
}

#questionImage {
    max-width: 100%;
    max-height: 370px;
    width: auto;
    height: auto;
    object-fit: contain;
}



.timer-display {
    font-size: 30px;
    text-align: center;
    color: goldenrod;
    background-color: blue;
    border: solid 5px goldenrod;
    padding: 20px;
    margin-top: 10px;
    width: 40px;
 
margin-left: auto;
    margin-right: auto;
}

 #trivia {
  background: url(https://cdn.pixabay.com/photo/2017/09/04/09/37/cinema-strip-2713352_1280.jpg) no-repeat center center;
  background-size: cover;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  color: goldenrod;
  border: black;
  text-align: center;
  font-size: 20px;
  
}

.game-started #startScreen {
    display: none;
}

.game-started #trivia {
    display: block;
}

.feedback {
    color: blue;
    margin: 10px;
    height: 20px;
    text-align: center;
}

.points-counter {
    text-align: right;
    position: fixed;
    top: 40px;
    right: 50px;
    padding: 15px;
    width: 100px;
    height: 70px;
    font-size: 30px;
    text-align: center;
    margin: 15px;
    border: 3px solid goldenrod;
    background-color: blue;
}

#question {
    margin-bottom: 20px;
    font-size: 50px;
    color: white;
    -webkit-text-stroke: 2px black;
    font-weight: bold;
    font-family: sans-serif;

}

.button-grid {
    display: grid;
    
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: auto auto;
    gap: 10px;
    margin: 10px;
    justify-content: center;
    
}

.answer {
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin: 5px auto;
    padding: 5px 10px;
    width: 300px;
    box-sizing: border-box;        
    text-align: center;
    font-size: 24px;
   
}